<div class="mt-5">
  <div class="row">
    <div class="col-sm-5">
      <div class="jumbotron bg-light">
        <h2 class="font-weight-bold">Reservation</h2>
        <hr class="my-4 bg-light">
        <form>
          <div class="form-row form-group">
            <div class="col">
              <input type="date" class="form-control rounded-0">
            </div>
            <div class="col">
              <input type="time" class="form-control rounded-0">
            </div>
          </div>
          <div class="form-row form-group">
            <div class="col">
              <input type="text" class="form-control rounded-0" placeholder="Your message">
            </div>
          </div>
          <button type="button" class="btn btn-outline-danger rounded-0">Reservation</button>
        </form>
      </div>
    </div>
    <div class="col-sm-7">
      <%= image_tag("bg-3.jpg", alt: "...", class: "w-100") %>
    </div>
  </div>
</div>
