<div class="container p-5 mt-5 border rounded shadow text-white">
  <h2 class="text-center font-weight-bold"><%= t ".review" %></h2>
  <div class="row mt-5">
    <div class="col-sm-3 border-right border-left">
      <h2 class="font-weight-bold text-center">User</h2>
      <hr class="my-4 bg-white">
      <p class="font-italic">
        put user review here.put user review here.put user review here.put user review here.
      </p>
    </div>
    <div class="col-sm-3 border-right">
      <h2 class="font-weight-bold text-center">User</h2>
      <hr class="my-4 bg-white">
      <p class="font-italic">
        put user review here.put user review here.put user review here.put user review here.
      </p>
    </div>
    <div class="col-sm-3 border-right">
      <h2 class="font-weight-bold text-center">User</h2>
      <hr class="my-4 bg-white">
      <p class="font-italic">
        put user review here.put user review here.put user review here.put user review here.
      </p>
    </div>
    <div class="col-sm-3 border-right border-left">
      <h2 class="font-weight-bold text-center">User</h2>
      <hr class="my-4 bg-white">
      <p class="font-italic">
        put user review here.put user review here.put user review here.put user review here.
      </p>
    </div>
  </div>
</div>
