<div class="d-sm-flex align-items-center p-2">
  <div class="dish-description">
    <h3><%= link_to menu.name, menu, class: "text-dark" %></h3>
    <p class="font-italic">
      <%= t ".number_dishes" %>
    </p>
    <% if current_user.admin? %>
      <%= link_to t(".delete"), menu, method: :delete,
        data: {confirm: t(".confirm")}%>
    <% end %>
  </div>
</div>
