<section class="caviar-dish-menu" id="menu">
  <div class="container p-5">
    <div class="row">
      <div class="col-12 menu-heading">
        <div class="section-heading text-center">
          <h2><%= menu.name %></h2>
          <p class="font-italic"><%= t ".top_order" %></p>
        </div>
        <%= link_to t(".view_menu"), menu, class: "btn caviar-btn" %>
      </div>
    </div>
    <div class="row">
      <%= render "menus/top_order", menu: menu %>
    </div>
  </div>
</section>
