<div class="breadcumb-area bg-img bg-overlay hero2">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h2><%= t ".menus" %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="caviar-food-menu section-padding-150 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="food-menu-title">
          <h2><%= t ".menus" %></h2>
        </div>
      </div>
      <div class="col-10">
        <div class="caviar-menu-slides owl-carousel clearfix p-5">
          <div class="caviar-portfolio clearfix">
            <div class="single_menu_item wow fadeInUp">
              <%= render @menus %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
