<div class="container text-white">
  <div class="row p-5">
    <div class="col-md-6 offset-md-3 border p-5 rounded shadow">
      <%= form_for @category do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <%= f.submit t(".submit"), class: "btn btn-outline-light btn-block" %>
      <% end %>
    </div>
  </div>
</div>
