<div class="breadcumb-area bg-img bg-overlay hero1">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h2>Your Order</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="caviar-food-menu section-padding-150 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%= render "layouts/cart_text" %>
      </div>
      <div class="col-10" id="order_cart">
        <%= render "carts/order_cart" %>
      </div>
    </div>
  </div>
</div>
