<tr>
  <td><%= category.name %></td>
  <td><%= category.dishes.count %></td>
  <td><%= link_to t(".edit"), edit_admin_category_path(category) %></td>
  <td><%= link_to t(".delete"), admin_category_path(category), method: :delete,
    data: {confirm: t(".confirm")}%></td>
</tr>
