<div class="bg-img bg-overlay hero1">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h2>
            <%= @category.name %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="caviar-food-menu section-padding-150 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="food-menu-title">
          <h2><%= @category.name %></h2>
        </div>
      </div>
      <div class="col-10">
        <div class="caviar-menu-slides owl-carousel clearfix">
          <div class="caviar-portfolio clearfix">
            <%= render @dishes %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
