<tr>
  <td><%= dish.name %></td>
  <td><%= dish.price %></td>
  <td><%= link_to t(".edit"), edit_admin_dish_path(dish) %></td>
  <td><%= link_to t(".delete"), admin_dish_path(dish), method: :delete,
    data: {confirm: t(".confirm")} %></td>
</tr>
